{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Преподаватели</title>
    {% block css_add %} {%endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="section">
            <div class="top_navbar">
                <div class="logo_title">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                            {% block path%}
                            {%endblock%}
                        </a>
                    </div>
                    <img src="images/logo.svg">
                    <h1>Сайт</h1>
                </div>
                <div class="buttons">
                    <button class="button filled-button" id="vhod">Войти</button>
                    <button class="button outlined-button">Регистрация</button>
                </div>
            </div>

            <div class="sidebar">
                <div class="profile">
                    <img src="images/student.png" alt="profile_picture">
                    <h3>Александр Дегтярев</h3>
                    <p>Студент</p>
                </div>
                <ul>
                    <li>
                        <a href="teachers.html">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Преподаватели</span>
                        </a>
                    </li>
                    <li>
                        <a href="task_list.html">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">Мои задачи</span>
                        </a>
                    </li>
                    <li>
                        <a href="ghistorgamma.html" class="active">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Оценки</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="settings">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">Настройки</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                {%block container%}
                
                {% endblock %}
            </div>
        </div>


    </div>
    <script>

        const block = document.querySelector('.sidebar');
        const toggleButton = document.querySelector('.hamburger');
        const sdvig = document.querySelector('.logo_title');

        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })

        toggleButton.addEventListener('click', function () {
            if (block.style.display === 'none') {
                block.style.display = 'block';
                sdvig.style.width = 'none';
                sdvig.style.marginLeft = 'none';
            } else {
                block.style.display = 'none';
            }
        });

        // Для изменения стилей при разрешении 710px
        window.addEventListener('resize', function () {
            if (window.innerWidth <= 710) {
                sdvig.style.width = 'none';
                sdvig.style.marginLeft = 'none';
            } else {
                sdvig.style.width = 'initial';
                sdvig.style.marginLeft = 'initial';
            }
        });
    </script>
    <script src="{% static 'scripts/scripts_search.js'%}"></script>
</body>

</html>